/* shared botkit ui styles */
* {
  box-sizing: border-box; 
  --primary-color: rgb(0, 108, 255);
  --primary-color-disabled: #a3c9ff;
  --secondary-color: rgb(233, 238, 244);
  --message-radius: 19px;
  --graph-radius: 5px;
  --entity-color: ghostwhite;
  --attr-color: ghostwhite;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #FFF;
  font-family: 'helvetica', sans-serif; }

.wrapper {
  position: relative;
  height: 100%;
  width: 30%;
  min-width: 410px;
  float: right;
  padding: 20px 20px 40px 20px;
  margin-right: 20px;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }


.box {
  border: 2px solid #CCC;
  padding: 1rem calc(1rem - 2px);
  margin-bottom: 1rem; }
  .box:after {
    content: "";
    display: table;
    clear: both; }
  .box h1,
  .box h2,
  .box h3 {
    margin-top: 0; }

footer {
  text-align: center; }

.hero {
  text-align: center;
  padding: 2rem; }
  .hero h1 {
    font-size: 4rem;
    margin: 0; }

a {
  color: rgb(0, 108, 255); }

.copyurl {
  width: 100%;
  font-size: 1.25rem; }

div.input label {
  font-weight: bold;
  font-size: smaller; }

.addon {
  display: flex;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px;
  background: var(--secondary-color); }
  .addon input,
  .addon textarea {
    flex-grow: 1;
    border: 0;
    background: transparent; }
  .addon button {
    flex-grow: 0;
    background: transparent;
    border: 1px solid #999;
    border-radius: 6px;
    font-weight: bold; }
    .addon button.textarea {
      align-self: flex-start;
      padding: 0.5rem; }
    .addon button:hover {
      background: #FFF;
      color: var(--primary-color); }

div.hr {
  border: 1px dashed #ccc;
  width: 10%;
  margin: 4rem auto;
  height: 1px; }

a.button {
  border: 2px solid var(--primary-color);
  font-weight: bold;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  transition: box-shadow 0.1s linear; }
  a.button:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

/* chat client */
#message_window {
  background: #FFFFFF;
  border-radius: 10px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica', sans-serif; }
  #message_window .disconnected {
    background: #FFFFCC;
    padding: 10px 20px;
    font-size: 14px; }
  #message_window.connected .disconnected {
    display: none; }
  #message_window .offline {
    display: none; }
  #message_window.offline .disconnected {
    display: none; }
  #message_window.offline .offline {
    background: #FF0000;
    color: #FFF;
    padding: 10px 20px;
    font-size: 14px;
    display: block; }
  #message_window .powered_by {
    flex-shrink: 0;
    text-align: center;
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    padding: 0.25rem;
    color: #666; }
    #message_window .powered_by a {
      text-decoration: none;
      color: #666; }
    #message_window .powered_by img {
      position: relative;
      top: 2px; }
  #message_window section {
    flex-grow: 1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: auto; }
    #message_window section div div {
      /* margin: 5px 20px; */
      clear: both; }
  #message_window footer {
    height: 60px;
   }
    #message_window footer input[type="text"] {
      flex-grow: 1;
      background: none;
      padding: 0 0 4px 25px;
      height: 100%;
      font-size: 14px;
      outline: none;
      border: none; }
    #message_window footer button {
      width: 60px;
      height: 60px;
      background: none;
      border: 0;
      cursor: pointer;
      padding: 16px 9px;
      outline: none;
     }
    #message_window footer .send {
     display: block;
     width: 27px;
     height: 27px;
     float: left;
    }
  #message_window form {
    display: flex;
    margin: 0;
    padding: 0; }
  #message_window #message_template {
    display: none; }
  #message_window .message {
    margin: 5px 20px;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 14px;
    background: var(--secondary-color);
    color: #333;
    border-radius: var(--message-radius);
    width: auto;
    display: inline-block;
    overflow-wrap: break-word;
    max-width: 75%; }
    #message_window .message-result {
      font-size: 14px;
      line-height: 1.3;
      padding: 10px;
      margin: 5px 10px 5px 0px;
      background: var(--secondary-color);
      color: #333;
      border-radius: var(--message-radius);
      width: 300px;
      height: 220px;
      display: inline-block;
   }
  #message_window .file_attachment {
    background: var(--secondary-color);
    color: #333;
    border-radius: 5px;
    display: inline-block;
    max-width: 75%; }
    #message_window .file_attachment img {
      max-width: 100%;
      display: block; }
  #message_window .button_message {
    margin: 1rem 0;
    border-radius: 4px;
    border-color: orange;
    border-style: solid;
    color: orange;
    border-width: 1px;
    padding: 0.25rem 1rem;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    display: block; }
  #message_window .message p {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  #message_window .message p:last-child {
    margin-bottom: 0; }
  #message_window .message.outgoing {
    float: right;
    background: var(--primary-color);
    color: white; }
  #message_window #message_replies {
    text-align: center;
    overflow-x: auto;
    flex-shrink: 0;
    min-height: 10px;
    -webkit-overflow-scrolling: touch;
    /* Lets it scroll lazy */ }
    #message_window #message_replies ul {
      list-style-type: none;
      margin: 0px auto;
      padding: 0; }
      #message_window #message_replies ul li {
        display: inline-block;
        margin: 0.5rem;
        margin-left: 0; }
    #message_window #message_replies a {
      text-decoration: none;
      display: block;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      border-radius: var(--message-radius);
      padding: 0.25rem 1rem;
      font-size: 14px;
      cursor: pointer; }
      #message_window #message_replies a:hover {
        background: var(--primary-color);
        color: #FFF; }

/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  padding: 5px 3px;
  position: relative; }
  .typing-indicator span {
    height: 5px;
    width: 5px;
    float: left;
    margin: 0 1px;
    background-color: #333;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }
/* special styles for homepage */
#home {
  position: relative;
  max-width: 650px;
  margin: auto; }
  #home:after {
    content: "";
    display: table;
    clear: both; }

#homepage_bot {
  width: 400px;
  height: 450px;
  float: left;
  border: 5px solid #333;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }
  #homepage_bot iframe {
    border: 0;
    height: 100%;
    width: 100%; }

#welcome {
  margin-left: 440px; }

  /* .carousel-item > span {
    width: 80%;
    display: inline-block;
  }
  .carousel-inner {
    width: 90%;
  } */

  .carousel-items {
    white-space: nowrap;
    -webkit-transition: margin .2s;
    transition: margin .2s;
    
    transition-property: margin;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* width: auto; */
  }

  .carousel-mask {
    /* width: 100%; */
    position: relative;
    overflow: hidden;
    max-width: 95%;
    margin: 0!important;
  }

  .carousel-next,  .carousel-prev {
    cursor: pointer;
    height: 36px;
    width: 36px;
    position: absolute;
    right: 0;
    top: calc(50% - 18px);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* border: 1px solid #e9e9e9; */
    background: #fff;
    opacity: .2;
    color: #505050;
    margin:0 !important;
  }

  .carousel-prev {
    left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0!important;
  }
  .carousel-next:hover, .carousel-prev:hover {
    opacity: 1;
  }

  .tittle {
    /* white-space: normal; */
    /* white-space: nowrap;  */
  overflow: hidden;
  font-size: 16px;
  padding: 5px 0;
	text-overflow: ellipsis;
    color: #333;
    margin: 0!important;
  }
  table {
    font-size: 14px;
    margin: 5px 5px 5px 10px;
  }
  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    padding: 3px 0;
  }

  .header {
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 35px;
    }
    .header span {
      height: 100%;
      display: inline-block;
      margin-top: 13px;
    }
  .header .avt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    
  }

  .header img {
    vertical-align: unset;
    
  }
  .header .name {
    margin-left: 10px;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    font-weight: 400;
    color: white;
    display: inline-block;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif
  }

  .message-result-margin {
    margin-left: 20px!important;
  }

  .list-mask {
    max-width: 300px;
    min-height: 20px;
    margin-left: 20px;
    margin-top: 5px;
  }
  .list-mask .message-text {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 14px;
    background: var(--secondary-color);
    color: #333;
    border-radius: var(--message-radius);
    width: fit-content;
    overflow-wrap: break-word;
    max-width: 75%;
  }
  .attr {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: var(--message-radius);
    font-size: 13px;
    line-height: 1.3;
    padding: 7px 14px;
    margin: 5px 5px 5px 0;
    display: inline-block;
    cursor: pointer;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
  }
  .attr:hover {
    background: var(--primary-color);
    color: white
  }
  .attr:hover .close{
    fill: white;
  }
  .close{
    width: 14px;
    height: 14px;
    margin-left: 3px;
    fill: var(--primary-color);
  }
  .close:hover{
    fill: white;
  }

  .message-text-slider {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 14px;
    background: var(--secondary-color);
    color: #333;
    border-radius: var(--message-radius);
    width: fit-content;
    overflow-wrap: break-word;
    max-width: 75%;
  }


  
.graph-wrapper {
  position: relative;
  height: 100%;
  width: calc(70% - 100px);
  min-width: 900px;
  float: left;
  padding: 20px 0 20px 20px;
  }
  .graph-wrapper:after {
    content: "";
    display: table;
    clear: both; }


.entity {
  position: absolute;
  opacity: .5;
  width: 150px;
  border-radius: var(--graph-radius);
  background: var(--entity-color);
  border: 1px solid var(--secondary-color);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.entity .name{
  font-size: 14px;
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid var(--secondary-color);
}
.entity .content {
  min-height: 20px;
  padding: 3px 3px 3px 5px;
  font-size: 12px;
}

.attribute {
  position: absolute;
  opacity: .5;
  min-width: 100px;
  max-width: 150px;
  width: fit-content;
  border-radius: var(--graph-radius);
  background: var(--attr-color);
  border: 1px solid var(--secondary-color);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.attribute .name{
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
  padding: 3px 5px;
  border-bottom: 1px solid var(--secondary-color);
}
.attribute .content {
  min-height: 10px;
  padding: 2px 2px 2px 3px;
  font-size: 10px;
}
  

#area {
  top: 5%;
  left: 5%;
}

#potential {
  top: 5%;
  left: 35%;
}

#price {
  top: 5%;
  right: 5%;
}

#real_estate {
  bottom: 50%;
  left: 20%;
}

#location {
  bottom: 40%;
  right: 10%;
}

#addr_district {
  bottom: 20%;
  right: 25%;
}

#surounding {
  left: 1%;
  bottom: 65%;
}

#realestate_type {
  left: 1%;
  bottom: 50%;
}
#orientation {
  left: 1%;
  bottom: 35%;
}
#legal {
  left: 1%;
  bottom: 20%;
}
#position {
  left: 1%;
  bottom: 5%;
}

#surrounding_characteristic {
  left : 20%;
  bottom: 5%;
}

#transaction_type {
  left : 45%;
  bottom: 35%;
}
#interior_floor {
  left : 45%;
  bottom: 20%;
}
#interior_room {
  left : 45%;
  bottom: 5%;
}

#addr_city {
  bottom: 25%;
  right: 1%;
}
#addr_street {
  right:1%;
  bottom: 15%;
}

#addr_ward {
  right: 1%;
  bottom: 5%;
}
  /*# sourceMappingURL=styles.css.map */